html, body {
	height:100%;
	margin:0;
	padding:0;
}
IMG {
	border:none;
}

a.gpGalleryThumbs {
	display:block;
	float:left;
	margin: 10px;
	text-decoration:none;
}
a.gpGalleryThumbs:hover {
	cursor:pointer;
}
div.gpGalleryThumbs {
	margin:10px;
}
.gpGalleryAnimLoading {
	background:url(../images/throbber.gif) no-repeat;
	width:32px;
	height:32px;
	display:none;
}

/* Main Navigation */
.gpGalleryPrevBtn, .gpGalleryNextBtn {
	float:left;
	width:32px;
	height:32px;
	background:url(../images/prev-rtl.png) no-repeat;
	margin-right:10px;
	display:none;
}
.gpGalleryNextBtn {
	background:url(../images/next-rtl.png) no-repeat;
	margin-left:10px;
	margin-right:0px;
}	
.gpGalleryPrevBtn:hover, .gpGalleryNextBtn:hover {
	cursor:pointer;
}


/* used when thumb_position = top, bottom, left, or right */
#gpGalleryControlCntnr {
	float:left;
}

/* used when thumb_position = top or bottom */

#gpGalleryCntnr {
	width:100%;
	height:100%;
}
.gpThumbHoriz {
	float:left;
	width:100%;
	min-height:20%;
	background-color:#2C2F34;
	margin:0;
	padding:0;
}
.gpHorizThumbCntnr {
	float:left;
	padding-right:5px;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #eeeeee; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eeeeee,  #cccccc); /* for firefox 3.6+ */

	border: solid 1px #6f6f6f;
}
.gpLargeHoriz {
	float:left;
	width:100%;
	min-height:80%;
	background-color:#000;
	margin:0;
	padding:0;
}

.largeBorder {
	border: solid 2px #fff;
}